.container {
    height: 100vh;
    width: 100vh;
    padding: 0 !important;
    position: relative;
    background-image: url('/images/home.jpg');
    background-size: cover;
    background-position: center;
    z-index: 12;
}

.hero {
    
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 !important;
    position: relative;
}  


.joinButton {
    background-color: #E57C00 !important;
    border: none !important;
    padding: 6px 40px !important;
    font-size: 15px !important;
    cursor: pointer !important;
    color: white !important;
    border-radius: 30px !important;
    text-transform: capitalize !important;
}
.joinButton:hover {
    background-color: #dc8623 !important;
    transition: background-color 0.3s ease !important;
    transform: scale(1.08) !important;
    transition: transform 0.3s ease !important;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navLinks {
        flex-direction: column;
        align-items: center;
    }

    .navLinks li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .heroContent {
        font-size: 15px;
    }

    .joinButton {
        margin-top: 20px;
        width: 70%;
    }
}

@media (max-width: 480px) {
    .heroContent h1 {
        font-size: 28px;
    }

    .heroContent p {
        font-size: 12px;
    }

    .joinButton {
        width: 50%;
        padding: 8px 10px;
    }
}